
/* MAIN COLORS */

body {
  background-color: #AAAAAA;
  font-family: "Arial";
  margin: 50px;
  float: center;
}


table {
  background-color: #4C4C4C;
  border: 3px solid white;
  width: 17%;
  padding: 15px;
  text-align: left;
}

#actionMain {
  background-color: #C0392B;
    color: #EDE8EC;
}


#number {
  background-color: #1E1E1E;
  color: #EDE8EC;
}

#actionSub {
  background-color: #2B2B2B;
  color: #EDE8EC;
}

button {
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
}

.viewer {
  width: 20%;
}
