body {
  width: 900px;
  background-color: black;
  display: grid;
  margin-left: 350px;
}

form {
  margin: 20px;
  background-color: #232423;
  text-align: center;
  padding: 50px;

}

#display {
  margin: 5px;
  margin-left: 10px;
}

.number {
  color: black;
  background-color: #6BFF2D;
  font-size: 20px;
  margin: 2px;
}

.operator {
  color: #6BFF2D;
  background-color: black;
  font-size: 20px;
  margin: 2px;
}


h1 {
  text-align: center;
  color: #6BFF2D;
  font-family: 'Arial';
}

#last {
}
